body{
	/*background-image: linear-gradient(to right, #38a4f1, #00bcf8, #00cfe2, #00deb2, #4ae673, #9bd636, #d2c100, #ffa500, #ff723a, #ff3a67, #ec1095, #ab30bc) !important;*/
	background-color: #7f5a83 !important;
	background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%) !important;

}

.gambar{
	width: 20% ;
	height: 33%;
}

.clock{
	position: relative;
	margin-top: 8%;
	margin-left: 13%;
}

.tulisan{
	font-family: 'marquee_moonregular';
	color: #ccff00;
	font-size: 520%;
	margin-top: 2%;
	text-align: center;
	-webkit-animation:colorchange 5s infinite alternate;
}

.gmaps{
	width:70% !important; 
	height:75% !important;
	frameborder:0; 
	border:0;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */    
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 12%; 
  width: 100%;  100% width 
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  margin-left: 14%;
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}


@media(min-width: 320px) and (max-width: 575px){
	.clock{
		zoom:0.56;
		-moz-transform: scale(0.56);
		-webkit-transform: scale(0.56);
	}

	.tulisan{
		zoom:0.44;
		-moz-transform: scale(0.44);
		-webkit-transform: scale(0.56);
	}

	.gambar{
		zoom:0.44;
		-moz-transform: scale(0.44);
	}

	.gmaps{
		width:90%; 
		height:70%;
	}
}

@media(min-width: 576px) and (max-width: 767px){
	.clock{
		zoom:0.54;
		-moz-transform: scale(0.54);
	}

	.tulisan{
		zoom:0.44;
		-moz-transform: scale(0.44);
	}

	.gambar{
		zoom:0.44;
		-moz-transform: scale(0.44);
	}

	.gmaps{
	width:70%; 
	height:70%;}
}

@media(min-width: 768px) and (max-width: 991px) {
	.clock{
		zoom:0.61;
		-moz-transform: scale(0.61);
	}

	.tulisan{
		zoom:0.61;
		-moz-transform: scale(0.61);
	}

	.gambar{
		zoom:0.61;
		-moz-transform: scale(0.61);
	}

	.gmaps{
	width:70%; 
	height:70%;}
}

@-webkit-keyframes colorchange {
      0% {
        
        color: #ccff00;
      }
      
      50% {
        
        color: #00f9ff;
      }
      
      100% {
        
        color: #c20ed5;
      }
}

@media(min-width: 992px) and (max-width: 1200px) {
	.clock{
		zoom:0.80;
		-moz-transform: scale(0.80);
	}

	.tulisan{
		zoom:0.80;
		-moz-transform: scale(0.80);
	}

	.gambar{
		zoom:0.80;
		-moz-transform: scale(0.80);
	}

	.gmaps{
	width:70%; 
	height:70%;}
}



